{{ define "content" }}
<div x-data="data()">
    <div id="pageTitle" x-show="!form.id">Community</div>

    <form onsubmit="event.preventDefault()" autocomplete="off">
        <fieldset x-bind:disabled="mode=='view'">
            <div x-show="!form.id">
                <P>
                    <h3 class="text-lg font-medium leading-6 text-gray-900"> Community Information</h3>
                    <p class="mt-1 text-sm text-gray-500">
                        If you have been unable to find the community you need in the drop-down, please submit your request
                        here
                        so
                        that
                        we
                        can add it. Please ensure you have reviewed the full list before requesting this community for
                        review. ​
                    </p>
                </P>
            </div>
            <div class="flex flex flex-col md:flex-row ">
                <div class="basis-1/2 md:base-full  md:flex-row mx-3">
                    <div class="mt-4 flex flex-col  ">
                        <div>
                            <h3 class="block text-sm font-medium text-gray-700">Community Name*</h3>
                        </div>
                        <div> 
                            <input type="text" x-model="form.name" maxlength="50" :disabled="mode=='view'"
                                class="mt-1 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" />
                        </div>
                    </div>
                </div>
                <div class="basis-1/2 md:base-full md:flex-row mx-3">
                    <div class="flex flex-col  ">
                        <div class="mt-4 flex flex-row">
                            <div class="basis-1/2">
                                <h3 class="block text-sm font-medium text-gray-700">Community Site URL*</h3>
                            </div>
                            <div x-show="form.id" class="basis-1/2 flex flex-row text-right">
                                ID: <p x-text="form.id"></p>
                            </div>
                        </div>
                        <div> 
                            <input type="text" name="url" id="url" x-model="form.url" maxlength="255"
                                :disabled="mode=='view'"
                                class="mt-1 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="max-w-full md:base-full md:flex-row mx-3">
                <div>
                    <div class="max-w-full">
                        <h3 class="mt-4 block text-sm font-medium text-gray-700">Community Description*</h3>
                    </div>
                    <div class="bg-gray-200">
                        <textarea name="description" id="description" x-model="form.description" rows="3"
                            maxlength="255" :disabled="mode=='view'"
                            class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md width: 100%">
                        </textarea>
                    </div>
                </div>
            </div>
            <div class="flex flex flex-col md:flex-row ">
                <div class="basis-1/2 md:base-full  md:flex-row mx-3">
                    <div class="flex flex-col">
                        <div>
                            <span class="mt-4 block text-sm font-medium text-gray-700">Business Sponsors*</span>
                            <span class="pl-1 text-xs">(Please select at least two sponsors )</span>
                        </div>
                        <div class="mt-1 sm:mt-0 sm:col-span-2">
                            <div x-data="combobox({
                                        searchCallback: getAllUsers,
                                        searchTag: 'Start typing to query list of users',
                                        searchPlaceholder: 'Input name or email',
                                        id : 'mail',
                                        text : 'mail',
                                        isMultiple : true,
                                        isInsertable : true,
                                        isDisplayItem : true
                                    })" 
                                    x-modelable="selected" x-model="form.sponsors">
                                <div x-html="template"></div>
                            </div>
                        </div>
                        <div>
                            <span class="mt-4 block text-sm font-medium text-gray-700">Tag</span>
                            <span class="pl-1 text-xs">(Please press Enter to insert Tag)</span>
                        </div>
                        <div x-data="combobox({
                                data : [],
                                id : 'id',
                                text : 'name',
                                isInsertable : true,
                                isMultiple : true,
                                isDisplayItem : true
                        })" x-modelable="selected" x-model="form.tags">
                            <div x-html="template"></div>
                        </div>
                    </div>
                </div>
                <div class="basis-1/2 md:base-full  md:flex-row mx-3">
                    <div class="flex flex-col  ">
                        <div class="mt-4">
                            <h3 class="block text-sm font-medium text-gray-700">Notes</h3>
                        </div>
                        <div>
                            <textarea name="Notes" id="Notes" x-model="form.notes" rows="3" maxlength="255"
                                class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </textarea>
                        </div>
                        <div class="flex flex-row mx-1 my-3 items-center">
                            <input type="checkbox" name="IsExternal" id="IsExternal" x-model="form.isExternal"
                                class="mr-2" :disabled="mode=='view'" />
                            This is an external community
                        </div>
                    </div>
                </div>
            </div>
            <div  x-show="mode!='view'" class="flex flex flex-col md:flex-row ">
                <div class="basis-1/2 md:base-full  md:flex-row mx-3">
                    <div class="flex flex-col  ">
                        <div>
                            <span class="mt-4 block text-sm font-medium text-gray-700">Releated Internal Communities</span> 
                        </div>
                        
                            <div 
                                x-data="combobox({
                                        ajax : getCommunitiesinternals,
                                        id : 'id',
                                        text : 'name',
                                     
                                        isMultiple : 'true',
                                        isDisplayItem : 'true'
                                    })"
                                x-modelable = "selected"
                                x-model = "form.communitiesInternal"
                            >
                                <div x-html="template"></div>
                            </div>
                    </div>
                </div>
                <div class="basis-1/2 md:base-full  md:flex-row mx-3">
                    <div class="flex flex-col  ">
                        <div>
                            <span class="mt-4 block text-sm font-medium text-gray-700">Related External Communities</span> 
                        </div>
                        <div 
                            x-data="combobox({
                                    ajax : getCommunitiesisexternals,
                                    id : 'id',
                                    text : 'name',
                                    
                                    isMultiple : 'true',
                                    isDisplayItem : 'true'
                                })"
                            x-modelable = "selected"
                            x-model = "form.communitiesExternal"
                        >
                            <div x-html="template"></div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
    <div x-show="mode!='view'" class="mt-5 sm:col-span-6 pt-2 sm:pt-2 border-t-2 border-gray-100">
        <h3 class="text-lg font-medium pb-3 leading-6 text-gray-900">Onboarding Instructions</h3>
        <div 
            x-data="markdownEditor({
                caption: '(Markdown syntax is supported)'
            })"
            x-modelable = "body"
            x-model = "form.onBoardingInstructions"
        >
            <div x-html="template"></div>
        </div>
    </div>
    <div>
        <div align="right">
            <span x-show="form.id">
                <button type="button" x-show="mode!='edit' && hasBoardingInstruction"
                    class="bg-purple-500  inline-flex justify-center py-2 px-4 rounded-md text-white"
                    @click="onBoarding()">
                    <span>How To Join</span>
                </button>
            </span>
            <button type="button" x-show="mode=='view'"
                class="bg-orange-500  inline-flex justify-center py-2 px-4 rounded-md text-white"
                :class="!isValid ? 'bg-orange-100' : ''"
                x-bind:disabled="!isValid && ('{{.Email}}' !== communityCreatedBy)" @click="mode='edit'">
                <span x-show="form.id">Edit Community</span>
            </button>
            <button type="button" x-show="mode!='view'"
                class="bg-orange-500  inline-flex justify-center py-2 px-4 rounded-md text-white"
                :class="!isValid ? 'bg-orange-100' : ''" x-bind:disabled="!isValid" @click="submit()">
                <span x-show="!form.id">Submit Community</span>
                <span x-show="form.id">Update Community</span>
            </button>
            <button type="button" x-show="mode=='edit'"
                class="bg-orange-500  inline-flex justify-center py-2 px-4 rounded-md text-white"
                @click="cancel()">
                Cancel
            </button>
        </div>
    </div>
</div>

<script src="/public/components/clsDropdown.js"></script>
<script src="/public/components/combobox.js"></script>
<script src="/public/components/markdownEditor.js"></script>
<script src="https://cdn.jsdelivr.net/npm/marked@2.1.3/marked.min.js"></script>
<script type="text/javascript">
    async function getCommunitiesisexternals(){
 
            const res = await fetch('/api/community/getCommunitiesisexternal/1')
            const data = await res.json()

            return data.filter(item=>{return item.id != {{.Id}}})
    }
    async function getCommunitiesinternals(){
 
        const res = await fetch('/api/community/getCommunitiesisexternal/0')

        const data = await res.json()

        return data.filter(item=>{return item.id != {{.Id}}})
        
        }
    async function getAllUsers(data) {
 
        if (data == undefined) {
            return []
        }

        const { search } = data;
        if (search === null || search.trim() === "") {
            return []
        }

        const res = await fetch(`/api/search/users/${search}`)
        const users = await res.json()

        return users
    }

    function data() {

        var modal = Alpine.store('master').modal
        return {
            mode: 'view',
            hasApprovers: false,
            communityCreatedBy: '',
            async init() {
                modal.update('loading', 'Loading', 'Please wait', '', '')
                fetch('/api/communityapprovers/GetAllActiveCommunityApprovers')
                    .then(r => {
                        r.json().then(body => {
                            if (!body || body.length < 1) {
                                if (this.mode !== 'view') {

                                    window.location.href = '/communities/list';
                                } else {
                                    this.hasApprovers = false;
                                    this.onLoad();
                                }
                            } else {
                                this.hasApprovers = true;
                                this.onLoad();
                            }
                        })
                    })
            },
            form: {
                id: '{{.Id}}',
                name: '',
                url: '',
                description: '',
                notes: '',
                isExternal: false,
                onBoardingInstructions: '',
                sponsors: [],
                tags: [],
                communitiesExternal: [],
                communitiesInternal: []
            },
            hasBoardingInstruction() {
                if(!this.form.onBoardingInstructions) return false
                if(!this.form.onBoardingInstructions.trim()) return false
                return true
            },
            sponsors: {
                template: '',
                selected: '',
                data: []
            },
            get filteredSponsorsData() {
                return this.sponsors.data.filter(i => {
                    return !this.form.sponsors.includes(i)
                })
            },
            sponsor: {
                displayName: '',
                mail: '',
            },
            
           
            async getUsersList() {

                await fetch('/api/allusers').then(j => j.json()
                    .then(data => {

                        this.sponsors.data = data
                    }))
                    .catch(() => {
                        Alpine.store('master').modal.update('error', 'Error', 'Please try again', '', '')

                    })

                var dd = new clsDropdown()
                this.sponsors.template = dd.template(
                    'dd1',
                    'sponsors.selected',
                    'filteredSponsorsData',
                    'displayName',
                    'mail', 'mail',
                    'datapush()')
            },
            showModal: false,
            status: "",
            modalText: "Please wait...",
            modalSubText: "Your request is being processed.",
            showResult(status, title, subtext, show = true) {
                this.status = status
                this.modalText = title
                this.modalSubText = subtext
                this.showModal = show
            },
            async onLoad() {
                spinnercount = 4
                if (this.form.id) {
                    this.mode = 'view'
                    fetch('/community/getcommunity/' + '{{.Id}}')
                        .then(r => {
                            r.json().then(body => {
                                if (body[0]['ApprovalStatusId'] !== 5 && body[0]['CreatedBy'] !== '{{.Email}}') {
                                    window.location.href = '/communities/list';
                                }
                                else {
                                    this.communityCreatedBy = body[0]['CreatedBy']
                                    this.form.id = body[0]["Id"]
                                    this.form.name = body[0]["Name"]
                                    this.form.url = body[0]["Url"]
                                    this.form.description = body[0]["Description"]
                                    this.form.notes = body[0]["Notes"]
                                    this.form.isExternal = body[0]["IsExternal"]
                                    this.form.onBoardingInstructions = body[0]["OnBoardingInstructions"]
                                    spinnercount = spinnercount - 1
                                    if (spinnercount < 1) {
                                        modal.visible = false
                                    }
                                }

                            });
                        })
                        .catch(e => {
                            spinnercount = spinnercount - 1
                        })

                    fetch('/api/relatedcommunity/' + '{{.Id}}')
                        .then(r => {
                            r.json().then(body => {
                                if (body) {
                                this.form.communitiesExternal = [ ]
                                this.form.communitiesInternal = [ ]
                                    for (let index = 0; index < body.length; index++) {
                                        if (body[index]['IsExternal']){
                                         this.form.communitiesExternal.push({
                                            
                                            id: body[index]['RelatedCommunityId'],
                                            text: body[index]['Name'],
                                            parentCommunityId : body[index]['ParentCommunityId'],
                                            RelatedCommunityId: body[index]['RelatedCommunityId'],
                                         })
                                        }
                                        else{
                                            this.form.communitiesInternal.push({
                                            
                                            id: body[index]['RelatedCommunityId'],
                                            text: body[index]['Name'],
                                            parentCommunityId : body[index]['ParentCommunityId'],
                                            RelatedCommunityId: body[index]['RelatedCommunityId'],
                                         })
                                        }
                                             
                                    }
                                }
                                spinnercount = spinnercount - 1
                                if (spinnercount < 1) {
                                    modal.visible = false
                                }
                            });
                        })
                        .catch(e => {
                            spinnercount = spinnercount - 1
                        })
                        fetch('/api/CommunitySponsorsPerCommunityId/' + '{{.Id}}')
                        .then(r => {
                            r.json().then(body => {
                                if (body) {
                                    this.form.sponsors = [ ]
                                    for (let index = 0; index < body.length; index++) {
                                         this.form.sponsors.push({
                                            displayName: body[index]['UserPrincipalName'],
                                            mail: body[index]['UserPrincipalName'],
                                            id: body[index]['UserPrincipalName'],
                                            text: body[index]['UserPrincipalName'],
                                         })
                                             
                                    }
                                }
                                spinnercount = spinnercount - 1
                                if (spinnercount < 1) {
                                    modal.visible = false
                                }
                            });
                        })
                        .catch(e => {
                            spinnercount = spinnercount - 1
                        })

                    fetch('/api/CommunityTagPerCommunityId/' + '{{.Id}}')
                        .then(r => {
                            r.json().then(body => {
                                if (body) {
                                    this.form.tags = [ ]
                                    for (let index = 0; index < body.length; index++) {
                                        this.form.tags.push({ id: body[index]['Id'], text: body[index]['Tag'] })

                                    }
                                }
                                spinnercount = spinnercount - 1
                                if (spinnercount < 1) {
                                    modal.visible = false
                                }
                            });
                        })
                        .catch(e => {
                            spinnercount = spinnercount - 1
                        })
                }
                else {
                    this.mode = 'edit'
                    modal.visible = false
                }
                await this.getUsersList()
            },
            cancel() {
                if(this.form.id) {
                    this.onLoad()
                }
                else {
                    window.location.href = '/communities/list'
                }
            },



            submit() {
                var modal = Alpine.store('master').modal
                modal.update('loading', 'Saving', 'Please wait.', '', '')
                if (!this.form.id) {
                    this.form.id = 0

                }

                let postData = this.form;
                postData.tags = this.form.tags.map(i => i.text);
                listsponsors =this.form.sponsors;
          
                postData.sponsors=[];
                for (const key of Object.keys(listsponsors)) {
                
                     postData.sponsors.push( 
                        {
                            displayName:  listsponsors[key].id ,
                             mail: listsponsors[key].id,
                             id: listsponsors[key].id,
                            text : listsponsors[key].id
                        }
                     );
          
                    }

                const listExternal =this.form.communitiesExternal;
                postData.communitiesExternal=[];
                for (const key of Object.keys(listExternal)) {
                
                     postData.communitiesExternal.push( 
                        {
                            ParentCommunityId:  listExternal[key].id,
                            RelatedCommunityId: listExternal[key].id
                        }
                             
                     );
          
                    }


                const listInternal =this.form.communitiesInternal;
         
                postData.communitiesInternal=[];
                for (const key of Object.keys(listInternal)) {
                
                     postData.communitiesInternal.push( 
                        {
                            ParentCommunityId:  listInternal[key].id,
                            RelatedCommunityId: listInternal[key].id
                        }
                             
                     );
          
                    }
                Alpine.store('master').postData('/api/community', postData, "Your community has been created.",
                    "Go to communities list", "/communities/list")

            },
            datapush() {
                this.form.sponsors.push(this.sponsors.data.filter(i => i.mail == this.sponsors.selected)[0])
                this.sponsors.selected = ''
            },
            
            onBoarding() {
                window.location.href = `/community/${this.form.id}/onboarding`
            },
         
            get isValid() {
                if (
                    (!!this.form.name &&
                        !!this.form.url &&
                        !!this.form.onBoardingInstructions &&
                        !!this.form.description //&& !!this.form.notes
                    ) &&
                    this.form.sponsors.length >= 2) {
                    return true
                    
                } else {
                    return false
                }
            }


        }
    }
</script>
{{ end }}