{{ define "content" }}
<div id="pageTitle">Search</div>

<div x-data="deeplink">
  <div x-data="SearchPage()" class="p-3">
    <nav class="bg-white flex items-center justify-between" aria-label="header">
      <div class="sm:block">
        <div>
          <label for="selectedSourceType" class="block text-sm font-medium text-gray-700">Source</label>
          <select @change="onChangeSelectedSourceType" 
            x-model="state.selectedSourceType"
            x-bind:disabled="state.isLoading"
            id="selectedSourceType" name="selectedSourceType" 
            class="mt-1 pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
              <option>all</option>
              <option>communities</option>
              <option>users</option>
              <option>repositories</option>
          </select>
        </div>
      </div>
      <div class="flex justify-between sm:justify-end">
        <div class="sm:col-span-3">
          <label for="search" class="block text-sm font-medium text-gray-700">Search</label>
          <div class="relative mt.-1">
            <input @keyup.enter="onSearchSubmit"
              type="text" name="search" id="search"
              x-bind:disabled="state.isLoading"
              class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" x-model="state.search">
            <template x-if="hasClearButton">
              <div @click="onClearSearchInput"
                class="absolute inset-y-0 right-0 flex items-center pr-3">
                <svg class="h-5 w-5 text-gray-400 cursor-pointer hover:text-red-500" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" data-slot="icon">
                  <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-1.72 6.97a.75.75 0 1 0-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 1 0 1.06 1.06L12 13.06l1.72 1.72a.75.75 0 1 0 1.06-1.06L13.06 12l1.72-1.72a.75.75 0 1 0-1.06-1.06L12 10.94l-1.72-1.72Z" clip-rule="evenodd" />
                </svg>
              </div>
            </template>
          </div>
        </div>
      </div>
    </nav>
    
    <table class="min-w-full divide-y divide-gray-300 mt-5">
      <thead>
        <tr>
          <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold  text-gray-600 border-r border-gray-100 last:border-none">
            Source
          </th>
          <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold  text-gray-600 border-r border-gray-100 last:border-none">
            Name
          </th>
          <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold  text-gray-600 border-r border-gray-100 last:border-none">
            Description
          </th>
        </tr>
      </thead>
      <tbody>
        <template x-if="state.isLoading">
          <tr>
            <td colspan="3">
              <svg 
                role="status" 
                class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-[#FF5800] m-auto my-5"
                viewBox="0 0 100 101" 
                fill="none" 
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                  fill="currentColor" />
                <path
                  d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                  fill="currentFill" />
              </svg>
            </td>
          </tr>
        </template>
        <template x-if="(state.data == null || state.data.length == 0) && !state.isLoading">
          <tr>
            <td colspan="3">
              <p class="text-center my-5">NO RESULT FOUND</p>
            </td>
          </tr>
        </template>
        <template x-if="!state.isLoading && state.data.length > 0">
          <template x-for="item in state.data">
            <tr @click="onRowClick(item)" class="cursor-pointer hover:bg-gray-100">
              <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-500 sm:pl-6"
                x-text="item.Source">
                [SOURCE]
              </td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"
                x-text="item.Name">[NAME]
              </td>
              <td class="px-3 py-4 text-sm text-gray-500">
                <div x-html="renderDescription(item.Source, item.Description)"></div>
              </td>
            </tr>
          </template>
        </template>
      </tbody>
    </table>
  
    <nav class="bg-white py-3 flex items-center justify-between border-t border-gray-200" aria-label="Pagination">
      <div class="sm:block">
        <div class="content-start">
          <label for="filter" class="text-sm font-medium text-gray-700">Filter</label>
          <select @change="onChangeFilter" 
            x-model="state.filter"
            x-bind:disabled="state.isLoading"
            id="filter" name="filter" 
            class="mt-1 w-20 pl-3 pr-10 py-2 text-base text-center border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
            <option>5</option>
            <option>10</option>
            <option>20</option>
            <option>50</option>
            <option>100</option>
          </select>
        </div>
      </div>
      <div class="show sm:block">
        <p class="text-sm text-gray-700">
          Showing
          <span class="font-medium" x-text="state.pageStart"></span>
          to 
          <span class="font-medium" x-text="state.pageEnd"></span>
          of
          <span class="font-medium" x-text="state.total"></span>
          results
        </p>
      </div>
      <div class="flex justify-between sm:justify-end">
        <button 
          @click="onClickPreviousButton"
          x-bind:disabled="!hasPreviousPage()"
          x-bind:class="paginationButtonClass(hasPreviousPage())"
          class="relative inline-flex items-center px-4 py-2 text-sm font-medium rounded-md bg-white mr-3">
          Previous 
        </button>
        <button 
          @click="onClickNextButton"
          x-bind:disabled="!hasNextPage()"
          x-bind:class="paginationButtonClass(hasNextPage())"
          class="relative inline-flex items-center px-4 py-2 text-sm font-medium rounded-md bg-white">
          Next 
        </button>
      </div>
    </nav>
  </div>
</div>

<script src="/public/components/deeplink.js"></script>
<script type="text/javascript">
  function SearchPage() {
    const defaultState = {
      data: '',
      total: 0,
      search: '',
      filter: 5,
      page: 0,
      offset: 0,
      pageStart: 0,
      pageEnd: 0,
      isLoading: false,
      selectedSourceType: 'all' // 'all', 'communities', 'users', 'repositories'
    }
    return {
      // State Properties
      state: {
        data: defaultState.data,
        total: defaultState.total,
        search: defaultState.search,
        filter: defaultState.filter,
        page: defaultState.page,
        offset: defaultState.offset,
        pageStart: defaultState.pageStart,
        pageEnd: defaultState.pageEnd,
        isLoading: defaultState.isLoading,
        selectedSourceType: defaultState.selectedSourceType,
        sourceTypes: []
      },
      // Init function
      async init() {
        const searchParams = this.getSearchParam()

        this.state.search = searchParams.search
        this.state.filter = searchParams.filter
        this.state.page = searchParams.page
        this.state.selectedSourceType = searchParams.selectedSourceType
        
        await this.load()
      },
      // Rerender table
      async load() {
        this.state.pageStart = 0
        this.state.pageEnd = 0
        this.state.total = 0
        this.state.isLoading = true
        const { data, total } = await this.fetchSearchData(this.state.page, this.state.filter, this.state.search, this.state.selectedSourceType)

        this.state.data = data ? data : []
        this.state.total = total

        this.setPageRange()

        this.state.isLoading = false

        this.onStateChange()
      },
      // State & Tag Attributes functions
      hasClearButton() {
        return this.state.search.length > 0
      },
      hasPreviousPage() {
        return this.state.page > 0 && !this.state.isLoading
      },
      hasNextPage() {
        return this.state.page < Math.ceil(this.state.total/this.state.filter) - 1 && !this.state.isLoading
      },
      paginationButtonClass(isEnabled) {
        return isEnabled ? 'border border-gray-300 text-gray-700 hover:bg-[#fff2eb]' : 'bg-gray-100 text-gray-400'
      },
      setPageRange() {
        if (this.state.data == null || this.state.data.length == 0) {
          this.state.pageStart = 0;
          this.state.pageEnd = 0;
          return;
        };

        this.state.pageStart = this.state.data.length > 0 ? ((this.state.page * this.state.filter) + 1) : 0;
        this.state.pageEnd = (this.state.page * this.state.filter) + this.state.data.length;
      },
      renderDescription(source, description){
        switch (source) {
          case "Users":
            return this.renderUserDescription(description)
          break;
          case "Repositories":
            return this.renderRepositoryDescription(description)
          break;
          case "Communities":
            return this.renderCommunityDescription(description)
          break;
        }
      },
      renderRepositoryDescription(description){
        const descriptionList = description.split('|')
        topics = descriptionList.length > 1 ? descriptionList[1].split(',') : []
        return `
          <p class="mb-1">${descriptionList[0]}</p>
          <template x-if="topics.length != 1">
            <div class="flex flex-wrap">
            <template x-for="topic in topics">
              <a x-bind:href="'/search?search=' + topic" class="mr-1 mb-2">
                <span class="text-xs px-2 py-1 bg-sky-100 rounded-lg text-sky-800 items-center hover:bg-sky-200" x-text="topic"></span>
              </a>
            </template>
            </div>
          </template>
        `
      },
      renderUserDescription(description){
        userInfos = description.split(',');
        return userInfos.map(v => `<p class="mb-1">${v}</p>`).toString().replaceAll(',', '')
      },
      renderCommunityDescription(description){
        return `<p class="mb-1">${description}</p>`
      },
      // Event handlers
      onClearSearchInput() {
        this.state.search = defaultState.search
        this.load()
      },
      onChangeFilter() {
        this.state.page = defaultState.page
        this.load()
      },
      onChangeSelectedSourceType() {
        this.state.page = defaultState.page
        this.load()
      },
      onSearchSubmit() {
        this.state.page = defaultState.page
        this.load()
      },
      onRowClick(item) {
        switch (item.Source) {
          case "Repositories":
            window.location.href=`/repositories/view/${item.Name}`
            break;
          case "Communities":
            window.location.href = `/communities/${item.Id}`
            break;
        }
      },
      onClickNextButton() {
        if (!this.hasNextPage()) return;
        this.state.page = this.state.page + 1
        this.load()
      },
      onClickPreviousButton() {
        if (!this.hasPreviousPage()) return;
        this.state.page = this.state.page - 1
        this.load();
      },
      onStateChange() {
        this.$data.onSetParams([
          { name: 'search', value: this.state.search },
          { name: 'filter', value: this.state.filter },
          { name: 'page', value: this.state.page },
          { name: 'selectedSourceType', value: this.state.selectedSourceType }
        ])
      },
      // Helper functions
      getSearchParam() {
        const urlParams = new URLSearchParams(window.location.search);
        const search = urlParams.get('search') || defaultState.search;
        const filter = urlParams.get('filter') || defaultState.filter;
        const page = urlParams.get('page') || defaultState.page;
        const selectedSourceType = urlParams.get('selectedSourceType') || defaultState.selectedSourceType;
        const offset = filter * page;
        return { 
          search, 
          filter, 
          page, 
          offset, 
          selectedSourceType 
        }
      },
      async fetchSearchData(page, filter, search, selectedSourceType) {
        const offset = filter * page;
        const offsetParams = offset ? `offset=${offset}` : 'offset=0'
        const filterParams = filter ? `&filter=${filter}` : '&filter=10'
        const searchParams = search ? `&search=${search}` : ''
        const selectedSourceTypeParams = selectedSourceType === 'all' ? '' : `&selectedSourceType=${selectedSourceType}`

        const res = await fetch(
          `/api/search?${offsetParams}${filterParams}${searchParams}${selectedSourceTypeParams}`
        )
        const data = await res.json()
        return data
      }
    }
  }
</script>
{{ end}}