{{ define "content" }}
<div id="pageTitle">
    Admin Tools
</div>
<div class="px-4 sm:px-6 lg:px-8">
    <div class="sm:flex sm:items-center">
        <div class="sm:flex-auto">
            <h1 class="text-xl font-semibold text-gray-900">List of Approval Types</h1>
            <!-- <p class="mt-2 text-sm text-gray-700">Description here...</p> -->
        </div>
        <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
            <a href="/admin/approvaltypes/add"
                class="inline-flex items-center justify-center rounded-md border border-transparent bg-orange-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-orange-700 focus:outline-none focus:ring-2 focus:ring-orange-500 focus:ring-offset-2 sm:w-auto">Add
                Approval Type</a>
        </div>
    </div>
    <div class="mt-8 flex flex-col">
        <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                <div x-data="table({
                    callback : getApprovalTypes,
                    data : 'data',
                    total : 'total',
                    columns : [
                        { 
                            name : 'Name', 
                            value : 'name',
                            sort : {
                                orderby : 'name',
                                ordertype : 'ASC'
                            }
                        },
                        { 
                            name : 'Approver/s',
                            value : 'approvers', 
                            render : value => renderApprovers(value)
                        },
                        { name : 'IsActive', value : 'isActive' },
                        { 
                            name : 'Action', 
                            value : 'id', 
                            render : value => renderAction(value)
                        }
                    ]
                    })">
                    <div x-html="template"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/public/components/table.js"></script>
<script type="text/javascript">
    function renderAction(value) {
        return `<div class="flex">
                        <a href="/admin/approvaltypes/view/${value}">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-blue-500">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                            </svg>
                        </a>
                        <a href="/admin/approvaltypes/edit/${value}">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mx-3 text-orange-500">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                            </svg>
                        </a>
                        <a href="/admin/approvaltypes/delete/${value}">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-red-500">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                            </svg>
                        </a>
                    </div>`
    }
    
    function renderApprovers(approvers) {
        return approvers.map(v => {
            return `<p>${v.approverEmail}</p>`
        }).join('')
    }

    async function getApprovalTypes(e) {
        const offset = e.filter * e.page;
        const search = encodeURIComponent(e.search)
        const res = await fetch(
            `/api/approval-types?filter=${e.filter}&offset=${offset}&search=${search}&orderby=${e.orderby}&ordertype=${e.ordertype}`
            )
        const data = await res.json()
        return data
    }
</script>
{{ end }}