{{ define "content" }}
<div id="pageTitle">New External Links</div>
<br>
<div x-data="ExternalLinksForm()">
    <div>
        <div class="relative">
            <label for="name" class="absolute -top-2 left-2 inline-block bg-white px-2 text-xs font-medium text-gray-900">SVG code</label>
            <input x-model="InputSVG" type="text" name="name" id="name" class="rounded-md border-0 py-5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-[#FF5800] sm:text-sm sm:leading-6" placeholder="....." autocomplete="nope">
            
            <label for="name" class="absolute -top-2 left-2 inline-block bg-white px-2 text-xs font-medium text-gray-900">SVG Name</label>
            <input x-model="SVGName" type="text" class="rounded-md border-0 py-5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-[#FF5800] sm:text-sm sm:leading-6" placeholder="-----" autocomplete="nope">

            <label for="name" class="absolute -top-2 left-2 inline-block bg-white px-2 text-xs font-medium text-gray-900">Category</label>
            <input x-model="Category" type="text" class="rounded-md border-0 py-5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-[#FF5800] sm:text-sm sm:leading-6" placeholder="-----" autocomplete="nope">

        </div>
    </div>
    <!--BUTTON-->
        <button @click="saveSVG()" class="mt-2 inline-flex items-center bg-[#FF5800] hover:bg-[#FF4300] text-white font-bold py-2 px-4 rounded">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 8.25H7.5a2.25 2.25 0 00-2.25 2.25v9a2.25 2.25 0 002.25 2.25h9a2.25 2.25 0 002.25-2.25v-9a2.25 2.25 0 00-2.25-2.25H15M9 12l3 3m0 0l3-3m-3 3V2.25" />
            </svg>
            <span class="ml-2">Save</span>
        </button>
{{/* END */}}
</div>
<script>
    function ExternalLinksForm() {
        return {
            InputSVG: '',
            SVGName: '',
            Category: '',
            saveSVG() {
                if(this.InputSVG === '' || this.SVGName ==='') {
                    console.log("SVG not found, Please put SVG code.")
                    {{/* console.clear() */}}
                    return
                }
                window.location.href = "/admin/externallinks"
                console.log("SVG successfully saved to database!")
                return
            },            
        }
    }
</script>
{{ end }}