{{ define "content" }}

<div id="pageTitle">Guidance</div>
<div x-data="data()" x-init="onLoad()">
  <form onsubmit="event.preventDefault()" autocomplete="off">
    <fieldset x-bind:disabled="mode=='view'">
      <div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Edit Article
        </h3>
        <p class="mt-1 max-w-2xl text-sm text-gray-500">
          Update the form to make changes to an article, information, or
          instruction for InnerSource, Open Source, and connecting with
          communities at Avanade. ​
        </p>
      </div>

      <div class="max-w-screen-md">
        <div class="flex flex-col md:flex-row mt-5 my-3">
          <div
            class="basis-1/4 md:base-full md:flex-row mx-3 mb-3 items-center flex"
          >
            <label
              for="activity_name"
              class="block text-sm font-medium text-gray-700"
            >
              Category
            </label>
          </div>

          <div class="basis-9/12 md:base-full md:flex-row mx-3">
            <div
              x-data="combobox({
                                  ajax: getCategories,
                                  id : 'Id',
                                  text : 'Name',
                                  isInsertable : true,
                                
                                  searchTag : null,
                                  searchPlaceholder : null
                               
                              })"
              x-modelable="selected"
              x-model="form.CategoryNames"
            >
              <div x-html="template"></div>
            </div>
            <div class="mt-1 max-w-2xl text-xs text-gray-500">
              Add a new category by pressing 'Enter'
            </div>
          </div>
        </div>

        <div class="flex flex flex-col md:flex-row my-3">
          <div
            class="basis-1/4 md:base-full md:flex-row mx-3 items-center flex"
          >
            <label
              for="activity_name"
              class="block text-sm font-medium text-gray-700"
            >
              Name
            </label>
          </div>

          <div class="basis-9/12 md:base-full md:flex-row mx-3">
            <div>
              <input
                type="text"
                name="category"
                id="category"
                x-model="form.name"
                maxlength="50"
                class="mt-1 focus:ring-orange-500 focus:border-orange-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md border-1"
              />
            </div>
          </div>
        </div>

        <div class="flex flex flex-col md:flex-row my-3">
          <div
            class="basis-1/4 md:base-full md:flex-row mx-3 items-center flex"
          >
            <label
              for="activity_name"
              class="block text-sm font-medium text-gray-700"
            >
              URL
            </label>
          </div>

          <div class="basis-9/12 md:base-full md:flex-row mx-3">
            <div>
              <input
                type="text"
                name="category"
                id="category"
                x-model="form.url"
                maxlength="100"
                class="mt-1 focus:ring-orange-500 focus:border-orange-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md border-1"
              />
            </div>
          </div>
        </div>

        <div class="flex flex flex-col md:flex-row my-3">
          <div
            class="basis-1/4 md:base-full md:flex-row mx-3 items-center flex"
          >
            <label
              for="activity_name"
              class="block text-sm font-medium text-gray-700"
            >
              Body
            </label>
          </div>

          <div class="basis-9/12 md:base-full md:flex-row mx-3">
            <div>
              <textarea
                type="text"
                name="category"
                id="category"
                x-model="form.body"
                maxlength="2000"
                class="mt-1 focus:ring-orange-500 focus:border-orange-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md border-1"
              >
              </textarea>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
    <div class="max-w-screen-md">
      <div class="flex mt-5">
        <div class="max-content ml-auto mr-[12px]">
          <button
            type="button"
            x-show="mode=='view'"
            class="bg-orange-500 inline-flex justify-center py-2 px-4 rounded-md text-white"
            @click="mode='edit'"
          >
            Edit Article
          </button>

          <button
            type="button"
            x-show="mode=='edit'"
            class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            @click="onLoad()"
          >
            <span x-show="form.id">Cancel</span>
          </button>
          
          <button
            type="button"
            x-show="mode!='view'"
            class="bg-orange-500 inline-flex justify-center py-2 px-4 rounded-md text-white disabled:bg-orange-200"
            @click="submit()"
          >
            <span x-show="form.id">Update Article</span>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<script src="/public/components/clsDropdown.js"></script>
<script src="/public/components/combobox.js"></script>
<script type="text/javascript">
  function data() {
    return {
      mode: "view",

      form: {
        id: "{{.Id}}",
        name: "",
        names: [],
        url: "",
        body: "",
        categoryId: 0,
        CategoryName: "",
        CategoryNames: [],
        categoryArticles: [],
      },
      categoryArticle: {
        id: "{{.Id}}",
        name: "",
        url: "",
        body: "",
        categoryId: 0,
        CategoryName: "",
      },
      submit() {
        var modal = Alpine.store("master").modal;
        modal.update('loading', 'Saving', 'Please wait.', '', '')
        if (!this.form.id) {
          this.form.id = 0;
        }

        this.form.categoryArticles.push(this.categoryArticle);
        this.form.CategoryName = this.form.CategoryNames[0]["text"].toString();
        this.form.categoryId = Number(
          this.form.CategoryNames[0]["id"].toString()
        );

        const data = this.form;

        Alpine.store("master").putData(
          `/api/articles/${this.form.id}`,
          data,
          "Your article has been updated.",
          "Go to list of guidance",
          "/guidance"
        );
      },

      get isValid() {
        if (this.form.name.length !== 0) {
          return true;
        } else {
          return false;
        }
      },
      getCategoryArticlesById(id) {
        fetch(`/api/categories/${id}/articles`).then((r) => {
          r.json().then((body) => {
            this.categoryArticle = body;
          });
        });
      },
      async onLoad() {
        var modal = Alpine.store("master").modal;
        modal.update("loading", "Loading", "Please wait", "", "");
        if (this.form.id) {
          this.mode = "view";

          await fetch(`/api/articles/${this.form.id}`)
            .then((r) => {
              r.json().then((body) => {
                this.form.id = body[0]["Id"];
                this.form.name = body[0]["Name"];
                this.form.url = body[0]["Url"];
                this.form.body = body[0]["Body"];
                this.form.CategoryName = body[0]["CategoryName"];
                this.form.categoryId = body[0]["GuidanceCategoryId"];

                this.form.CategoryNames.push({
                  id: this.form.id,
                  text: this.form.CategoryName,
                });
              });
            })
            .catch((e) => {
              console.log(e);
            });

          modal.visible = false;
        } else {
          this.mode = "edit";
        }
      },
    };
  }
  async function getCategories() {
    const res = await fetch("/api/categories");

    const data = await res.json();
    return data;
  }
</script>
{{ end }}
