{{ define "content" }}
<div id="pageTitle"> External Links</div>
<style>
    * {
    box-sizing: border-box;
    }
    .column {
    float: left;
    padding-right: 5px;
    }
    .row:after {
    content: "";
    display: table;
    clear: both;
    }
</style>
<div x-data="ExternalLinksPage()" x-data="TCCCurrentIcon">
    <div class="border-gray-200 pb-5 sm:flex sm:items-center sm:justify-between">
        <h3 class="text-base font-semibold leading-6 text-gray-900">
        </h3>
        <div class="mt-3 sm:ml-4 sm:mt-0">
            <a href="externallinks/add">
                <button class="inline-flex items-center bg-[#FF5800] hover:bg-[#FF4300] text-white font-bold py-2 px-4 rounded">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                    </svg>
                    <span class="ml-2">New SVG</span>
                </button>
            </a>
        </div>
    </div>


    <div>
        {{/* <div class="mt-8 flex flex-col">
            <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                    <div x-data="table({
                    callback : getApprovalTypes,
                    data : 'data',
                    total : 'total',
                    columns : [
                        { 
                            name : 'Name', 
                            value : 'Name',
                            sort : {
                                orderby : 'Name',
                                ordertype : 'ASC'
                            }
                        },
                        { 
                            name : 'Approver', 
                            value : 'ApproverUserPrincipalName',
                            sort : {
                                orderby : 'ApproverUserPrincipalName',
                                ordertype : 'ASC'
                            }
                        },
                        { name : 'IsActive', value : 'IsActive' },
                        { 
                            name : 'Action', 
                            value : 'Id', 
                            render : value => renderAction(value)
                        }
                    ]
                    })">
                        <div x-html="template"></div>
                    </div>
                </div>
            </div>
        </div> */}}

    <div>    
    
    <div>
        <!--<div name="HIDE-THIS">
            <div class="row" name="row1">
                <div class="column mt-1" >
                    <div class="flex justify-between">
                        {{/* <span x-html="TCCCurrentIcon" title="TechCommunityCalendarCurrentSVGName" class=" mt-0.5 mr-2"></span> */}}
                        <template x-for="(icon, n) in GetExternalLinksTCC" :key="n">
                            <span class="mt-0.5 mr-1" x-html="icon.Enabled === true ? icon.IconSVG : '' " :title="icon.SVGName" ></span>
                        </template>
                        <span> Tech Community Calendar </span>
                    </div>
                </div>

                <div class="column">
                    <button @click="TCCList=true"
                            @click.away="TCCList=false"
                            type="button"
                            class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" id="menu-button" aria-expanded="true" aria-haspopup="true">
                        <span x-html="TCCCurrentIcon" title="TechCommunityCalendarCurrentSVGName" class="mr-2 h-5 w-5"></span>
                        <span x-text="TCCCurrentName"></span>
                    </button>

                    <div x-show="TCCList" class="absolute z-10 w-auto divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1" >
                        <template x-for="(TCC, n) in GetExternalLinksTCC" :key="n">
                            <div class="py-1 hover:bg-[#fff2eb]" role="none">
                                <a @click="TCCCurrentIcon = TCC.IconSVG, TCCCurrentName = TCC.SVGName" class=" cursor-pointer text-gray-700 group flex items-center px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-0" x-bind:class="TCC.Enabled === true ? 'bg-[#fff2eb]' : ''">
                                    <span x-html="TCC.IconSVG" x-bind:class="TCC.Enabled === true ? 'text-[#FF5800]' : ''" ></span>
                                    <span x-text="TCC.SVGName" class="ml-2" x-bind:class="TCC.Enabled === true ? 'text-[#FF5800]' : ''"></span>
                                </a>
                            </div>
                        </template>
                    </div>

                </div>
            </div>

            <br>

            <div class="row" name="row2">
                <div class="column  mt-1">
                    <div class="flex justify-between">
                        {{/* <span x-html="SOACurrentIcon" title="TechCommunityCalendarCurrentSVGName" class=" mt-0.5 mr-2"></span> */}}
                        <template x-for="(icon, n) in GetExternalLinksSOA" :key="n">
                            <span class="mt-0.5 mr-1" x-html="icon.Enabled === true ? icon.IconSVG : '' " :title="icon.SVGName" ></span>
                        </template>
                        <span>Stack Overflow at Avanade</span>
                    </div>
                </div>

                <div class="column">
                    <button @click="SOAList=true" @click.away="SOAList=false" type="button" class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" id="menu-button" aria-expanded="true" aria-haspopup="true">
                        <span x-html="SOACurrentIcon" title="TechCommunityCalendarCurrentSVGName" class="mr-2 h-5 w-5"></span>
                        <span x-text="SOACurrentName"></span>
                    </button>

                    <div x-show="SOAList" class="absolute z-10 w-auto divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1" >
                        <template x-for="(SOA, n) in GetExternalLinksSOA" :key="n">
                            <div class="py-1 hover:bg-[#fff2eb]" role="none">
                                <a @click="SOACurrentIcon = SOA.IconSVG,SOACurrentName=SOA.SVGName" class=" cursor-pointer text-gray-700 group flex items-center px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-0" x-bind:class="SOA.Enabled === true ? 'bg-[#fff2eb]' : ''">
                                    <span x-html="SOA.IconSVG" x-bind:class="SOA.Enabled === true ? 'text-[#FF5800]' : ''"></span>
                                    <span x-text="SOA.SVGName" class="ml-2" x-bind:class="SOA.Enabled === true ? 'text-[#FF5800]' : ''">  Tech User Group</span>
                                </a>
                            </div>
                        </template>

                    </div>
                </div>

            </div>

            <br>

            <div class="row" name="row3">
                <div class="column mt-1">
                    <div class="flex justify-between">
                        {{/* <span x-html="OIMCurrentIcon" title="TechCommunityCalendarCurrentSVGName" class=" mt-0.5 mr-2"></span> */}}
                        <template x-for="(icon, n) in GetExternalLinksOIM" :key="n">
                            <span class="mt-0.5 mr-1" x-html="icon.Enabled === true ? icon.IconSVG : '' " :title="icon.SVGName" ></span>
                        </template>
                        <span>Open Innovation Meetup </span>
                    </div>
                </div>

                <div class="column">
                    <button @click="OIMList=true"
                            @click.away="OIMList=false" type="button" class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" id="menu-button" aria-expanded="true" aria-haspopup="true">
                        <span x-html="OIMCurrentIcon"
                            title="TechCommunityCalendarCurrentSVGName" 
                            class="mr-2 h-5 w-5"></span>
                        <span x-text="OIMCurrentName"></span>
                    </button>

                    <div x-show="OIMList" class="absolute z-10 w-auto divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1" >
                        <template x-for="(OIM, n) in GetExternalLinksOIM" :key="n">
                            <div class="py-1 hover:bg-[#fff2eb]" role="none">
                                <a @click="OIMCurrentIcon = OIM.IconSVG, OIMCurrentName = OIM.SVGName" class=" cursor-pointer text-gray-700 group flex items-center px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-0" x-bind:class="OIM.Enabled === true ? 'bg-[#fff2eb]' : ''">
                                    <span x-html="OIM.IconSVG" x-bind:class="OIM.Enabled === true ? 'text-[#FF5800]' : ''"></span>
                                    <span x-text="OIM.SVGName" class="ml-2" x-bind:class="OIM.Enabled === true ? 'text-[#FF5800]' : ''"></span>
                                </a>
                            </div>
                        </template>
                    </div>

                </div>

            </div>

            <br>

            <div class="mt-3 sm:ml-4 sm:mt-0"> 
                <button @click="saveIcons()" class="inline-flex items-center bg-[#FF5800] hover:bg-[#FF4300] text-white font-bold py-2 px-4 rounded">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 8.25H7.5a2.25 2.25 0 00-2.25 2.25v9a2.25 2.25 0 002.25 2.25h9a2.25 2.25 0 002.25-2.25v-9a2.25 2.25 0 00-2.25-2.25H15M9 12l3 3m0 0l3-3m-3 3V2.25" />
                    </svg>
                    <span class="ml-2">Save</span>
                </button>
            </div>        
        </div>-->

        <table>
            <thead class="bg-gray-100">
                <tr>
                    <th scope="col" class="cursor-pointer py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-700 hover:text-gray-700 sm:pl-6 ">Icon</th>
                    <th scope="col" class="cursor-pointer px-3 py-3.5 text-left text-sm font-semibold text-gray-700 ">Icon Name</th>
                    <th scope="col" class="cursor-pointer px-3 py-3.5 text-left text-sm font-semibold text-gray-700 ">Category</th>
                    <th scope="col" class="cursor-pointer px-3 py-3.5 text-left text-sm font-semibold text-gray-700 ">Status</th>
                    <th scope="col" class="cursor-pointer px-3 py-3.5 text-left text-sm font-semibold text-gray-700 ">Action</th>
                </tr>
            </thead>    

            <template x-for="(results, n) in getAllExternalLinks" :key="n">
                <tr>
                    <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-500 sm:pl-6">
                        <span x-html="results.IconSVG" class="hover:shadow-md"></span>
                    </td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"> 
                        {{/* <span x-text="results.IconSVG"></span> */}}
                        <span x-text="results.SVGName"> </span>
                    </td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                        <span x-text="results.Category"> </span>
                    </td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm ">
                        <span x-model="SVGStatus"
                              x-bind:class="results.Enabled === true ? 'text-[#FF5800]' : 'text-gray-500' "
                              x-text="results.Enabled ? 'Enabled': 'Disabled'"> </span>
                    </td>
                    <td>
                        <span @Click="editSVG(results.Id)" class="cursor-pointer">Edit</span> |
                        <span @Click="deleteSVG(results.Id)" class="cursor-pointer">Delete</span>
                    </td>
                </tr>
            </template>
        </table>


        {{/* <div class="pt-5">
            <div class="flex justify-end">
                <button @click="saveIcons()" class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-orange-600 hover:bg-orange-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500 disabled:bg-orange-200">
                Submit
                </button>
            </div>
        </div> */}}

    </div>

    {{/* Spinner */}}
    <div x-show="showSpinner" class="flex items-center justify-center h-20" >
        <svg role="status" class="w-8 h-8 mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-[#FF5800]" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
        <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
        </svg>
    </div>

</div>

<script type="text/javascript">

    function ExternalLinksPage() {
        return {
            GetExternalLinksList: [],
            GetExternalLinksByCategoryList: [],
            ELAllTechComCalendar: [],
            SearchBySources: [],

            //Categories
            GetExternalLinksByCategoryList: [],
            GetELbySOA: [],
            GetELbyOIM: [],
            TCC: 'TechCommunityCalendar',
            SOA: 'StackOverflowAvanade',
            OIM: 'OpenInnovationMeetup',
            TCCList: false,
            SOAList: false,
            OIMList: false,

            //DropDowns
            TCCCurrentIcon: '',
            SOACurrentIcon: '',
            OIMCurrentIcon: '',
            TechCommunityCalendarCurrentSVGName: 'Tech Community Calendar',
            TCCCurrentName: '',
            SOACurrentName: '',
            OIMCurrentName: '',
            InputSVG: '',
            SVGName: '',

            SVGStatus: '',

            //x-model="form.name"
            form: {
                svgname: ''

            },

            showSpinner: false,
            getAllExternalLinks() {
                let uri = '/admin/externallinks/GetExternalLinks'
                let encoded = encodeURI(uri);
                fetch(encoded)
                .then(r => {
                    r.json().then(body => {
                    this.GetExternalLinksList = body
                    })
                })
                .catch(e => {
                    console.log(e)
                })
                return this.GetExternalLinksList
            //
            },
            GetExternalLinksTCC() {
                let uri = '/admin/externallinks/' + this.TCC
                let encoded = encodeURI(uri);
                fetch(encoded)
                .then(r => {
                    r.json().then(body => {
                    this.GetExternalLinksByCategoryList = body
                    })
                })
                .catch(e => {
                    console.log(e)
                })
                return this.GetExternalLinksByCategoryList
            //
            },
            GetExternalLinksSOA() {
                let uri = '/admin/externallinks/' + this.SOA
                let encoded = encodeURI(uri);
                fetch(encoded)
                .then(r => {
                    r.json().then(body => {
                    this.GetELbySOA = body
                    })
                })
                .catch(e => {
                    console.log(e)
                })
                return this.GetELbySOA
            //
            },
            GetExternalLinksOIM() {
                let uri = '/admin/externallinks/' + this.OIM
                let encoded = encodeURI(uri);
                fetch(encoded)
                .then(r => {
                    r.json().then(body => {
                    this.GetELbyOIM = body
                    })
                })
                .catch(e => {
                    console.log(e)
                })
                return this.GetELbyOIM
            //
            },
            
            get ExternalLinksTCC() {
            if(!this.GetExternalLinksList==[''])
                return this.GetExternalLinksList
            },
            get ExternalLinksSOA() {
                return this.GetExternalLinksList
            },
            get ExternalLinksOIM() {
                return this.GetExternalLinksList
            },
            {{/* update(id, enabled) {
                this.formUpdate.id = id
                this.formUpdate.name = ApproverUserPrincipalName
                postData2 = this.formUpdate;
                Alpine.store('master').postData('/api/communityapprovers/update', postData2, "Your community approvers has been updated.",
                    "Close")
              
            } */}}
            onChangeTechCommCalendar() {  
                this.TCCCurrentIcon = 'Tech User Group'
                console.log("Icon TechCommCalendar changed to ---> " + this.TCCCurrentIcon)
                console.log(this.TCCCurrentIcon)
                return
            },
            onChangeStackOverflowAvanade() {
                console.log("Icon StackOverflowAvanade changed to ---> ")
                return
            },
            onChangeOpenInnovationMeetup() {
                console.log("Icon OpenInnovationMeetup changed to ---> ")
                return
            },            
            saveIcons() {
                console.log("SVG ICONS successfully save to database!")
                return
            },
            saveSVG() {
                if(this.InputSVG === '' || this.SVGName ==='') {
                    console.log("SVG not found, Please put SVG code.")
                    return
                }

                {{/* this.form.
                Alpine.store('master').modal.show()
                Alpine.store('master').putData(`/api/externallinks/update/${this.form.id}/${this.form.enabled}`, data, "External Links has been updated.", "Go to list of External Links", "/admin/externallinks") */}}


                console.log("SVG successfully saved to database!")
                return
            },
            {{/* editSVG(iconsvg, svgname, category, status) {
                console.log("-----> "+ iconsvg + "/" + svgname + "/" + category + "/" + status + "/" + 'EDIT')
                window.location.href = 'externallinks/form?form=' + iconsvg + "/" + svgname + "/" + category + "/" + status+ "/" +'EDIT'

            }, */}}
            editSVG(id) {
                console.log("-----> " + id)
                window.location.href = 'externallinks/' +'edit/'+ id
            },
            deleteSVG(id) {
                window.location.href = 'externallinks/' +'delete/'+ id
                {{/* console.log(id+"<--is deleted") */}}
                {{/* window.location.href = '/' */}}
                {{/* Alpine.store('master').modal.show()
                Alpine.store('master').deleteData (`/admin/externallinks/delete/`data, "External Link has deleted.", "Go to list of External Links", "/admin/externallinks") */}}
            },

            
        }   
    }
</script>
{{ end }}