{{ define "content" }}


<div id="pageTitle"> Guidance</div>
<div x-data="data()" x-init="onLoad()">
    <form onsubmit="event.preventDefault()" autocomplete="off">
        <fieldset x-bind:disabled="mode=='view'">
            <div class="flex flex flex-col md:flex-row ">
                <div class="basis-1/2 md:base-full  md:flex-row mx-3">
                    <div class="flex flex-col  ">
                        <div>
                            <h3 class="text-lg font-medium leading-6 text-gray-900">Category</h3>
                        </div>
                        <div>

                        </div>
                        <div> <input type="text" name="category" id="category" x-model="form.name" maxlength="50"
                                class="mt-1 focus:ring-orange-500 focus:border-orange-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md border-2">

                        </div>

                    </div>
                    <div>
                        <h3 class="text-lg font-medium leading-6 text-gray-900"> <br> </h3>
                    </div>
                </div>
            </div>

        </fieldset>
        <div>
            <div align="right">
                <div x-show="form.id">
                    <button type="button" x-show="mode=='view'"
                        class="bg-orange-500  inline-flex justify-center py-2 px-4 rounded-md text-white"
                        @click="mode='edit'">

                        Edit Category

                    </button>
                </div>
                <div x-show="form.id">
                    <button type="button" x-show="mode!='view'"
                        class="bg-orange-500  inline-flex justify-center py-2 px-4 rounded-md text-white"
                        @click="submit()">

                        <span x-show="form.id">Update Category</span>

                    </button>

                    <span x-show="form.id">
                        <button type="button" x-show="mode=='edit'"
                            class="bg-orange-500  inline-flex justify-center py-2 px-4 rounded-md text-white"
                            @click="onLoad()">
                            <span x-show="form.id">Cancel</span>

                        </button>
                    </span>
                </div>
            </div>
        </div>


    </form>
</div>

<script src="/public/components/clsDropdown.js"></script>
<script src="/public/components/combobox.js"></script>
<script type="text/javascript">
    function data() {
        return {
            mode: 'view',
            form: {
                id: '{{.Id}}',
                name: '',

            },

            categoryArticle: {
                id: '{{.Id}}',
                name: '',
                url: '',
                body: '',
                categoryId: 0,
                CategoryName: ''
            },
            submit() {
                var modal = Alpine.store('master').modal
                // modal.update('loading', 'Saving', 'Please wait.', '', '')
                if (!this.form.id) {
                    this.form.id = 0

                }


                postData = this.form;
                Alpine.store('master').postData('/api/Category/update', postData, "Your category has been Updated.",
                    "Go to category list", "/guidance")

            },

            get isValid() {
                if (
                    (this.form.name

                    )) {
                    return true
                } else {
                    return false
                }
            },

            async onLoad() {
                var modal = Alpine.store('master').modal
                modal.update('loading', 'Loading', 'Please wait', '', '')
                if (this.form.id) {
                    this.mode = 'view'

                    await fetch('/api/Category/' + '{{.Id}}')
                        .then(r => {
                            r.json().then(body => {
                                this.form.id = body[0]["Id"]
                                this.form.name = body[0]["Name"]
                            })
                            console.log(this.form)
                        }).catch(e => {
                            console.log(e)

                        })

                    modal.visible = false
                } else {
                    this.mode = 'edit'
                }
            }
        }
    }
</script>
{{ end }}