<html>
  <head>
    <link rel="stylesheet" href="/public/css/output.css" />
  </head>
  <body>
    <div class="bg-white min-h-full px-4 py-16 sm:px-6 sm:py-24 md:grid md:place-items-center lg:px-8">
      <div class="max-w-max mx-auto">
        <main class="sm:flex">
          <div class="sm:ml-6">
            <div class="sm:border-l sm:border-gray-200 sm:pl-6">
              <h1 class="text-4xl font-semibold text-gray-900 tracking-tight sm:text-4xl">Authenticate GitHub Account</h1>
              <p class="mt-1 text-base text-gray-500">Please enable popups in your browser settings to complete the authentication process.</p>
            </div>
            <div class="mt-10 flex space-x-3 sm:border-l sm:border-transparent sm:pl-6">
              <a href="/"
                class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-[#FE4800] hover:bg-[#FF5800] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Go back home </a>
            </div>
          </div>
        </main>
      </div>
    </div>
    <script type="text/javascript" defer>
      const features = {
        popup: "yes",
        width: 600,
        height: 700,
        top: "auto",
        left: "auto",
        toolbar: "no",
        menubar: "no"
      };
      const strWindowsFeatures = Object.entries(features)
      .reduce((str, [key, value]) => {
        if (value == "auto") {
          if (key === "top") {
            const v = Math.round(
              window.innerHeight / 2 - features.height / 2
            );
            str += `top=${v},`;
          } else if (key === "left") {
            const v = Math.round(
              window.innerWidth / 2 - features.width / 2
            );
            str += `left=${v},`;
          }
          return str;
        }
    
        str += `${key}=${value},`;
        return str;
      }, "")
      .slice(0, -1);
        
      window.open("/login/github", "_blank", strWindowsFeatures);
      window.addEventListener("message", receiveMessage, false);
    
      function receiveMessage(event) {
        if (event.origin !== window.location.origin) {
            console.warn(`Message received by ${event.origin}; IGNORED.`);
            return;
        }
        window.location.href = '/'
      }
    </script>
  </body>
</html>