{{ define "content" }}


<div id="pageTitle">Request</div>

<div x-data="message(
    {{.isInnerSourceMember}},
    {{.isOpenSourceMember}},
    '{{.innersourceOrg}}',
    '{{.opensourceOrg}}',
    {{.isInvalidToken}}
)">
    <div x-html="template"></div>
</div>
<div x-data="data({{.isInnerSourceMember}},{{.isOpenSourceMember}})">
    <form onsubmit="event.preventDefault()" autocomplete="off">
        <fieldset x-bind:disabled="isFieldsetDisabled">
            <h3 class="text-lg font-medium leading-6 text-gray-900">Make Repository Public</h3>
            <p class="mt-1 text-sm text-gray-500">
                Before a repository becomes public, it needs to undergo intellectual property, legal and security
                approvals. Answer the following questions to proceed with the request.
            </p>
            <div class="flex flex flex-col md:flex-row mt-7">
                <div class="basis-1/2 md:base-full  md:flex-row mx-3 self-center">
                    <div class="flex flex-col pl-2 ml-3 mt-1 text-sm text-gray-900">
                        Is this a new contribution with no prior code development? (i.e., no existing {{ .OrganizationName }} IP, no
                        third-party/OSS code, etc.)
                    </div>
                </div>
                <div class="basis-1/2 self-center">
                    <select class="rounded-md ml-3 mt-1 text-sm text-gray-900 border-gray-300" name="newcontribution"
                        id="newcontribution" x-model="form.newcontribution">
                        <option value="" selected disabled hidden> -- SELECT -- </option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                        <option value="unsure">Unsure</option>
                    </select>
                </div>
            </div>
            <div class="flex flex flex-col md:flex-row mt-5">
                <div class="basis-1/2 md:base-full md:flex-row mx-3 self-center">
                    <div class="flex flex-col pl-2 ml-3 mt-1 text-sm text-gray-900">
                        Who is sponsoring this OSS contribution?
                    </div>
                </div>
                <div class="basis-1/2 md:base-full  md:flex-row mx-3 self-center">
                    <div class="ml-3" x-data="combobox({
                            ajax: getSponsorOptions,
                            id : 'id',
                            text : 'name',
                          
                            isInsertable : false,
                            isDisplayItem : false
                        })" x-modelable="selected" x-model="form.sponsorOptions">
                        <div x-html="template"></div>
                    </div>
                </div>
            </div>
            <div class="flex flex flex-col md:flex-row my-3 mt-5">
                <div class="basis-1/2 md:base-full md:flex-row mx-3 self-center">
                    <div class="flex flex-col pl-2 ml-3 mt-1 text-sm text-gray-900">
                        Will {{ .OrganizationName }} use this contribution in client accounts and/or as part of an {{ .OrganizationName }}
                        offerings/assets?
                    </div>
                </div>
                <div class="basis-1/2 self-center">
                    <select class="rounded-md ml-3 mt-1 text-sm text-gray-900 border-gray-300"
                        name="avanadeofferingsassets" id="avanadeofferingsassets" x-model="form.avanadeofferingsassets">
                        <option value="" selected disabled hidden> -- SELECT -- </option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                        <option value="Tobedecided">To be decided</option>
                    </select>
                </div>
            </div>
            <div class="flex flex flex-col md:flex-row my-3 mt-5">
                <div class="basis-1/2 md:base-full  md:flex-row mx-3 self-center">
                    <div class="flex flex-col pl-2 ml-3 mt-1 text-sm text-gray-900">
                        Will there be a commercial version of this contribution?
                    </div>
                </div>
                <div class="basis-1/2 self-center">
                    <select class="rounded-md ml-3 mt-1 text-sm text-gray-900 border-gray-300"
                        name="willbecommercialversion" id="willbecommercialversion"
                        x-model="form.willbecommercialversion">
                        <option value="" selected disabled hidden> -- SELECT -- </option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                        <option value="Tobedecided">To be decided</option>
                    </select>
                </div>
            </div>
            <div class="flex flex flex-col md:flex-row  my-3 mt-5">
                <div class="basis-1/2 md:base-full md:flex-row mx-3 self-center">
                    <div class="flex flex-col pl-2 ml-3 mt-1 text-sm text-gray-900">
                        Additional OSS Contribution Information (e.g. planned maintenance/support, etc.)?
                    </div>
                </div>
                <div class="basis-1/2 md:base-full md:flex-row mx-3 self-center">
                    <div class="ml-3">
                        <div class="mt-1">
                            <textarea maxlength="1000" name="osscontributionInformation" id="osscontributionInformation"
                                rows="3" x-model="form.osscontributionInformation"
                                class="mt-1 block w-full shadow-sm text-sm border-gray-300 rounded-md text-gray-900 py-2 pl-3 pr-12">
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="flex mt-7 justify-end">
            <div align="right">
                <button type="submit" class="inline-flex justify-center py-2 px-4 rounded-md text-white"
                    x-bind:class="!isValid ? 'bg-orange-100' : 'bg-orange-500'" x-bind:disabled="!isValid" @click="submit()">
                    <span>Submit</span>
                </button>
            </div>
            <div class="ml-3">
                <button type="button" class="bg-orange-500  inline-flex justify-center py-2 px-4 rounded-md text-white"
                    @click="goto('/repositories')">
                    <span>Cancel</span>
                </button>
            </div>
        </div>
    </form>
</div>

<script src="/public/components/memberValidationMessage.js"></script>
<script src="/public/components/combobox.js"></script>

<script type="text/javascript">
    function data(
        isInnersourceMember,
        isOpensourceMember
    ) {
        let path = window.location.pathname
        return {
            isInnersourceMember: false,
            isOpensourceMember: false,
            form: {
                id: path.replace('/repositories/makepublic/', ''),
                newcontribution: '',
                osssponsor: '',
                avanadeofferingsassets: '',
                willbecommercialversion: '',
                osscontributionInformation: '',
                sponsorOptions: [],
            },
            isFieldsetDisabled() {
                if (this.isInnersourceMember && this.isOpensourceMember) {
                    return false
                }
                return true;
            },
            submit() {
                Alpine.store('master').modal.reset()
                Alpine.store('master').modal.show()
                Alpine.store('master').putData(`/api/repositories/${this.form.id}/public`, this.form,
                    "Your request has been submitted.", "Go to your repository list", "/repositories")
            },
            init() {
                this.isInnersourceMember = isInnersourceMember
                this.isOpensourceMember = isOpensourceMember
            },
            get isValid() {
                if (this.form.sponsorOptions.length > 0) {
                    this.form.osssponsor = this.form.sponsorOptions[0]["id"]
                }
                if (
                    !!this.form.newcontribution &&
                    !!this.form.osssponsor &&
                    !!this.form.avanadeofferingsassets &&
                    !!this.form.willbecommercialversion) {
                    return true
                } else {
                    return false
                }
            },
            goto(url) {
                window.location.href = url
            }
        }
    }
    async function getSponsorOptions() {
        let uri = '/api/oss-contribution-sponsors/enabled'
        let encoded = encodeURI(uri);
        const res = await fetch(encoded)
        const data = await res.json()
        return data
    }
</script>
{{ end }}